
.calendarPage {
    text-align: center;
    margin-top: 20px;
  }
  
  .calendarContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }
  
  .day {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .currentDay {
    background-color: #ffc0cb;
  }
  
  .infoForm {
    margin-left: 20px;
    max-width: 300px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, button {
    margin-top: 5px;
  }
  